{% extends 'myToDoList/index.html' %}
{% load humanize %}
{% block title %}
  Delete tâche
{% endblock title %}


{% block content %}
<div class="flex flex-col gap-3 justify-evenly">
  <p class="text-red-600 font-bold text-3xl text-center uppercase bg-white">Task update</p>
    <p class=" font-bold text-white uppercase text-xl mb-2 bg-slate-600 p-2 text-center">{{ object.title }}</p>
    <p class="text-white font-bold">
        <span class="text-xl font-semibold text-red-600">Cree: </span> {{ object.created|naturaltime }} </p>
    <p class="text-white font-bold"> Voulez-vous Supprimer la tache: <span class="text-red-600 underline underline-offset-1"> {{ object.title|upper}} </span> </p>
    <form method='post' class="flex gap-4">
        {% csrf_token %}
        <input type='submit' class="text-white font-bold w-fit bg-red-800 ring ring-red-900 rounded
        hover:ring hover:ring-white" value='Supprimer'>
        <a class="text-white font-bold w-fit bg-sky-800 ring ring-sky-900 rounded
        hover:ring hover:ring-white" href="{% url 'liste' %} "> Liste</a>
</div>
    
{% endblock content %}