{% extends 'myToDoList/index.html' %}
{% load humanize %}
{% block title %}
  Update tâche
{% endblock title %}


{% block content %}
<div class="flex flex-col gap-3 justify-evenly">
    <p class="text-red-600 font-bold text-3xl text-center uppercase bg-white">Task update</p>
    <p class="text-white font-bold">
    <form method='post' class="flex gap-4 flex-col">
        {% csrf_token %}
        {{ form.title }}
    <span class="font-medium bg-slate-100 text-red-600 text-sm">
      {{ form.errors.title }}
    </span> 
    {{ form.content }}
    <span class="flex gap-2 items-center">
        <label for="{{ form.done.label }}" class="text-zinc-100 text-lg font-medium">Etat:</label>
        {{ form.done }}
    </span>
    <div  class="flex gap-4 w-full">
      <input type = "Submit" value = "Modifier" class="p-1 text-white text-lg font-bold w-fit bg-red-800 ring ring-red-900 rounded hover:ring hover:ring-white">
      <a class="flex p-1 text-white text-lg font-bold w-fit bg-emerald-900 ring ring-emerald-900 g-emerald-900 rounded hover:ring hover:ring-white" href="{% url 'liste' %} "> Liste </a>
    </div>
</div>
    
{% endblock content %}